@font-face {
    font-family: 'Plus';
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Plus-medium';
    src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Plus-bold';
    src: url('./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf') format('truetype');
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Plus';
}

h1 {
    font-family: 'Plus-medium';
}

body {
    background-color: hsl(211, 68%, 94%);
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
}

main {
   background-color: #FFF;
   width: 700px;
   padding: 45px;
   margin-top: 3rem;
   margin-bottom: 3rem;
   border-radius: 1rem;
}

main header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: hsl(219, 14%, 63%);
    transition: 0.5s;
    font-size: 16px;
}

main header button:hover {
    color: hsl(219, 12%, 42%);
    text-decoration: underline;
}

section .comments-list {
    color: hsl(219, 12%, 42%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

section .comments-list .comment {
    max-width: 100%;
    display: flex; 
    background-color: hsl(208, 39%, 94%);
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 5px hsla(208, 13%, 74%, 0.205);
    margin-bottom: 1rem;
    cursor: pointer;
}

section .date {
    color: hsl(219, 14%, 63%);
    margin-top: .3rem;
}

.comment .comment-title {
    width: 100%;
}

.comment img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.name {
    font-family: 'Plus-bold';
    color: black;
    margin-right: 0.3rem;
}
.post {
    font-family: 'Plus-bold';
    margin-left: 0.3rem;
}

.group {
    font-family: 'Plus-bold';
    color: hsl(219, 85%, 26%);
    margin-left: 0.3rem;
}

.post:hover, .group:hover {
    text-decoration: underline;
}

.sign {
    display: inline-block;
    background-color: hsl(1, 90%, 64%);
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-left: 1rem;
}

.message {
    margin-top: .7rem;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 10px 15px; 
    border-radius: 0.3rem;
}

#readed {
    background-color: #FFF;
    box-shadow: none;
    cursor: default;
}

#counter {
    margin-left: -20rem;
    background-color: hsl(219, 85%, 26%);
    font-size: 26px;
    color: #FFF;
    padding: 2px 15px;
    border-radius: .5rem;
}

.hide-item {
    display: none;
}


